.itemList {
    margin: 10px auto;
    font-size: 20px;
    background-color: white;
    padding: 20px;
}

.item div {
    width: 50%;
    font-weight: bold;
}

.item {
    display: flex;
}

button {
    margin-left: 5px;
}
