.inputBox input {
    display: block;
    width: 50%;
    margin:  10px auto;
}

.inputContainer {
    width: 40%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    background-color: rgba(255,255,255, 0.6);
}

.inputBox button {
    width: 50px;
    font-size: 20px;
}
.select-box {
    position: relative;
    width: 50%;
    margin: 0 auto;
}
.select-box ul {
    position: absolute;
    display: block;
    z-index: 100;
    list-style: none;
    top: 5px;
    background-color: white;
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

.select-box ul li {
    padding: 5px 0;
    cursor: pointer;
    border-top: 1px solid black;

}

