@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    height: 100%;
    background: url("./background.jpg") fixed;
}

body, #root {
    min-height: 100%;
    height: 100%;
}
.App {
    text-align: center;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.printList {
    margin-top: 10px;
}

button {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background-color: #b6e4fe;
    border: none;
    color: black;
    font-size: 15px;
    margin-bottom: 10px;
    width: 130px;
}

.itemList button {
    width: 100px;
    margin-top: 10px;
}

.selectBox {
    display:flex;
    outline:1px solid #a9a9a9;
    background: white;
    align-items: center;
    position: relative;
    width: 50%;
    margin: 0 auto;
}


.listTable {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.pdfCanvas {
    width: 40%;
    margin: 0 auto;
}

.itemBox, .emptyMessage {
    width: 41%;
    margin:  0 auto;
}

.emptyMessage {
    padding: 10px;
    background-color: #f58da8;
    margin-bottom: 10px;
}

.head-title {
    margin-top: 50px;
}

.arrowDown {
    display: inline-block;
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #b092c4;
}

.inputBox input {
    display: block;
    width: 50%;
    margin:  10px auto;
    height: 20px;
}

.inputContainer {
    width: 40%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    background-color: rgba(255,255,255, 0.6);
}

.selectBox input {
    margin: 0;
    width: 95%;
    border: none;
}
.selectBox ul {
    position: absolute;
    display: block;
    z-index: 100;
    list-style: none;
    top: 100%;
    margin: 0;
    background-color: white;
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    outline: 1px solid black;
}

.selectBox ul li {
    padding: 5px 0;
    cursor: pointer;
}

.selectBox ul li:not(:last-child) {
    border-bottom: 1px solid black;

}





